/* Colours */
:root {
    --btn-colour-main: #f35c36;
    --btn-colour-secondary: #ffffff;

    --section-bgd-colour-one: #fef4ea;
    --section-bgd-colour-two: #ffffff;
    --section-bgd-colour-three: #f6f9fc;

    --dropdown-bgd-colour: #f6f9fc;
    --dropdown-border-colour: #eaf0f6;

    --font-colour: #223343;
    --font-weight: 500;
}


/* typography */
html {
    font-size: 100%;
}

    :root {
        --font-primary-size: 1rem;
        --font-primary-family: "LexendDeca", sans-serif;

        --font-heading-size: 2rem;
        --font-heading-family: "LexendDeca", sans-serif;
    }

    @font-face {
        font-family: "Queens";
        src: url('../fonts/Queens/Queens_Trial/VariableFonts/QueensVarTrial.ttf') format('truetype');

    }

    @font-face {
        font-family: "LexendDeca";
        src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    }

    h1, h2, p {
        color: var(--font-colour);
        font-weight: var(--font-weight);
    }

    h2 {
        font-size: var(--font-heading-size);
        font-family: var(--font-heading-family);
    }

    p {
        font-family: var(--font-primary-family);
        font-size: var(--font-primary-size);
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 2%;
    }


/* Buttons */
.btn-get-demo, .btn-get-started {
    --button-radius: 6px;
    --btn-border: 2px solid var(--btn-colour-main);

    border: var(--btn-border);
    border-radius: var(--button-radius);
    font-weight: var(--font-weight);
    font-family: var(--font-navbar-family);
    cursor: pointer;
}

    .btn-get-demo {
        background-color: var(--btn-colour-main);
        color: var(--btn-colour-secondary);
    }

    .btn-get-demo:hover {
        background-color: #e04827
    }

    .btn-get-started {
        background-color: var(--btn-colour-secondary);
        color: var(--btn-colour-main);
    }

    .btn-get-started:hover {
        background-color: #ffebe6;
    }


/* Navbars */
/*      Setting: language, contrast, etc.   */
.navbar-settings {
    padding-left: 10%;
    padding-bottom: 30px;
    padding-top: 10px;
}
    .navbar-settings button {
        background: none;
        border: none;
        cursor: pointer;
        font-family: var(--font-navbar-family);
        font-weight: 700;
        font-size: 0.875rem;
    }

    .navbar-settings button:hover {
        color: #005fa3;
    }

    @media (width <= 1024px) {
        .navbar-settings {
            display: none;
        }
    }

    .navbar-settings button {
        display: inline-flex;
        align-items: center;
        padding: 10px;
        height: 12px;
    }

/*    Main navbar: Software dropdown, Pricing, etc.  */
.nav-main {
    height: 10%;
    max-height: 80px;

    --font-navbar-size: 1.125rem;
    --font-navbar-family: "LexendDeca", sans-serif;

    box-shadow: #00000026 2px 2px 3px;

    /* override bulma setting */
    position: sticky !important;
    top: 0;
    padding-left: 9%;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .navbar-end {
        padding-right: 5%;
    }

    .navbar-link {
        font-family: var(--font-navbar-family);
        color: var(--font-colour);
        font-size: var(--font-navbar-size);
        cursor: pointer;
    }

    .navbar-dropdown {
        top: 65px;
        width: 1080px;
        margin: auto;
        height: 584px;
        background-color: var(--dropdown-bgd-colour);
        border: 1px solid var(--dropdown-border-colour);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .navbar-dropdown h3 {
        font-size: 1.125rem;
        /*font-weight: ;*/
        font-family: var(--font-heading-family);
        color: var(--font-colour);
        margin-top: 20px;
    }

    .navbar-dropdown h4 {
        font-size: 1rem;
        /*font-weight: ;*/
        font-family: var(--font-heading-family);
        color: var(--font-colour);
    }

    .navbar-dropdown .columns {
        width: 80%;
        margin: auto;
    }

    .navbar-dropdown button {
        max-height: 70%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        padding: 1.5rem 3rem;
        font-size: 0.875rem;
        font-weight: 600;
        background-color: white;
        border: 1px solid #eaf0f6;
        color: #2368b1;
    }

    .dropdown-hub {
        background-color: var(--section-bgd-colour-two);
        padding: 10px;
        margin: 16px;
        border: 1px solid var(--dropdown-border-colour);
    }

    .dropdown-callout {
        background-color: var(--section-bgd-colour-two);
        border: 1px solid var(--dropdown-border-colour);
    }

    .dropdown-callout-column {
        background-color: var(--dropdown-bgd-colour);
        padding: 10px;
        margin: 16px;
        border: 1px solid var(--dropdown-border-colour);
    }

    .dropdown-callout-column p {
        font-size: 0.8rem;
    }


/* Hero */
.section-hero {
    background-color: var(--section-bgd-colour-one);
    --font-hero-size: 3.75em;
    --font-hero-family: "Queens", serif;
}

    .section-hero h1 {
        font-family: var(--font-hero-family);
        font-size: var(--font-hero-size);
    }

    .section-hero button {
        height: 64px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        padding: 1rem 2.7rem;
        font-size: 1rem;
        font-weight: var(--font-weight);
    }

    .image-hero {
        max-width: 630px;
    }

    .columns-hero {
        padding-top: 10%;
        padding-left: 10%;
    }


/* Carousel */
.section-carousel {
    background-color: var(--section-bgd-colour-two);
    padding-bottom: 90px;
}

    .carousel {
        width: 100%;
        max-width: 1200px;
        height: 100px;
        margin: auto;
        position: relative;
         overflow: hidden;
        display: flex;
    }

    .carousel-image-container {
        width: 76%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: auto;
    }

    .slide {
        position: absolute;
        transition: all 0.5s;
        margin: 0;
        top: 50%;
    }

    .slide img {
        width: 150px;
        margin: auto;
        padding-left: 30px;
    }

    .btn-carousel-next, .btn-carousel-prev {
        position: absolute;
        cursor: pointer;
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
    }

    .btn-carousel-prev:hover, .btn-carousel-next:hover {
        background-color: #eaf0f7;
    }

    .btn-carousel-prev:active, .btn-carousel-next:active {
        background-color: #b6c7d7;
    }

    .btn-carousel-prev {
        top: 45%;
        left: 2%;
    }

    .btn-carousel-next {
        top: 45%;
        right: 2%;
    }


/* What is HubSpot? */
.section-video {
    background-color: var(--section-bgd-colour-three);
}

    .section-video button {
        height: 56px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        padding: 0.2rem 2rem;
        font-size: 1rem;
        font-weight: var(--font-weight);
    }


/* Hub */
.section-hub {
    background-color: var(--section-bgd-colour-one);
}

    .section-hub h2{
        text-align: center;
    }

    .section-hub p {
        max-width: 825px;
        margin: auto;
        text-align: left;
    }

    .image-hub {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section-hub button {
        height: 56px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        padding: 0.2rem 2rem;
        font-size: 1rem;
        font-weight: var(--font-weight);
    }