/* Buttons */
button {
    --btn-colour-main: #f35c36;
    --btn-colour-secondary: #ffffff;
    --button-radius: 6px;
    --btn-border: 2px solid var(--btn-colour-main);
    --btn-padding: 12px 24px;

    border: var(--btn-border);
    border-radius: var(--button-radius);
    padding: var(--btn-padding);
}

.btn-get-demo {
    background-color: var(--btn-colour-main);
    color: var(--btn-colour-secondary);
}

.btn-get-started {
    background-color: var(--btn-colour-secondary);
    color: var(--btn-colour-main);
}

/* Section */
section {
    --section-bgd-colour-one: #fef4ea;
    --section-bgd-colour-two: #ffffff;
    --section-bgd-colour-three: #f6f9fc;
}

.section-hero {
    background-color: var(--section-bgd-colour-one);
}

.section-carousel {
    background-color: var(--section-bgd-colour-two);
}

.section-video {
    background-color: var(--section-bgd-colour-three);
}

/* typography */
html {
    font-size: 100%;
}
@font-face {
    font-family: "Queens";
    src: url('/fonts/Queens/Queens_Trial/VariableFonts/QueensVarTrial.ttf') format('truetype');
}
@font-face {
    font-family: "Lexend Deca";
    src: url('fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
}
:root {
    --font-colour: #223343;
    --font-weight: 500;

    --font-primary-size: 1rem;
    --font-primary-family: "Lexend Deca", sans-serif;

    --font-navbar-size: 1.125rem;
    --font-navbar-family: "Lexend Deca", sans-serif;

    --font-hero-size: 3.75em;
    --font-hero-family: "Queens", serif;

    --font-heading-size: 2rem;
    --font-heading-family: "Lexend Deca", sans-serif;
}

h1, h2, p {
    color: var(--font-colour);
    font-weight: var(--font-weight);
}

h1 {
    font-family: var(--font-hero-family);
    font-size: var(--font-hero-size);
}

h2, p {
    font-family: var(--font-primary-family);
}

h2 {
    font-size: var(--font-heading-size);
    font-family: var(--font-heading-family);
}

p {
    font-size: var(--font-primary-size);
}

button {
    font-size: var(--font-primary-size);
    cursor: pointer;
}

.navbar-link {
    font-family: var(--font-navbar-family);
    color: var(--font-colour);
    font-size: var(--font-navbar-size);
    cursor: pointer;
}