/* Buttons */
button {
    --btn-colour-main: #f35c36;
    --btn-colour-secondary: #ffffff;
    --button-radius: 6px;
    --btn-border: 2px solid var(--btn-colour-main);
    --btn-padding: 12px 24px;

    border: var(--btn-border);
    border-radius: var(--button-radius);
    padding: var(--btn-padding);
}

.btn-get-demo {
    background-color: var(--btn-colour-main);
    color: var(--btn-colour-secondary);
}

.btn-get-started {
    background-color: var(--btn-colour-secondary);
    color: var(--btn-colour-main);
}

/* Section */
section {
    --section-bgd-colour-one: #fef4ea;
    --section-bgd-colour-two: #ffffff;
    --section-bgd-colour-three: #f6f9fc;
}

.section-hero {
    background-color: var(--section-bgd-colour-one);
}

.section-carousel {
    background-color: var(--section-bgd-colour-two);
}

.section-video {
    background-color: var(--section-bgd-colour-three);
}